@use '../../../scss/utils/main.scss' as utils;
.rating {
	@include utils.flexbox(row, end, end, 5);
	max-width: 1240px;
	margin: 10px;

	&__star {
		font-size: 24px;
		color: utils.$neutral-200;
		&--filled {
			color: utils.$primary;
		}
	}
}
@media screen and (max-width: 768px) {
	.rating {
		@include utils.flexbox(row, start, center, 0);
		&__star {
			font-size: 18px;
		}
	}
}
