@use '../../../scss/utils/main.scss' as utils;

.host {
	@include utils.flexbox(row, end, center, 10);
	max-width: 1240px;
	margin: map-get(utils.$margin, large-screen);

	&__name {
		@include utils.font(18px, utils.$primary, medium);
		text-align: right;
	}
	&__img {
		width: 64px;
		height: 64px;
		border-radius: 50%;
	}
}
@media screen and (max-width: 768px) {
	.host {
		margin: map-get(utils.$margin, small-screen);
		&__name {
			@include utils.font(12px, utils.$primary, medium);
		}
		&__img {
			width: 32px;
			height: 32px;
		}
	}
}
