@use '../../scss/utils/main.scss' as utils;

.header {
	max-width: 1240px;
	width: 100%;
	height: 68px;
	@include utils.flexbox(row, space-between, center, 20, wrap);
	margin: 30px auto 0 auto;
	&__logo {
		margin-left: 20px;
	}
}
