@use "../../scss/utils/main.scss" as utils;
.nav {
	display: flex;
	margin-right: 20px;
	&__list {
		@include utils.flexbox(row, between, center, 57);

		&--item {
			@include utils.font(l, utils.$neutral-900, medium);
		}
		&--link.selected {
			text-decoration: underline;
		}
	}
}
